<div class="contenedor d-flex justify-content-center align-items-center"> 

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="fw-bold">Clasificación de los perros</mat-card-title>
      <mat-card-subtitle class="h6">By Adrian Abril</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.istockphoto.com/id/1410303227/es/foto/biewer-terrier-perro-cachorro-en-fondo-lila.jpg?s=1024x1024&w=is&k=20&c=gBbyQXZJWvtMyrBabBIH-hDvmxETME0y3SImZaVZiFQ=" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <a routerLink="/home" class="bg-primary list-group-item w-50 m-auto rounded list-group-item-action text-white active">Acceder al sitio oficial</a>
    </mat-card-actions>
  </mat-card>

</div>