<app-menu></app-menu>
<!-- app.component.html o el nombre de tu componente -->

<section class="hero-section">
  <div class="hero-content">
    <h1>Bienvenido a THE PERROS</h1>
    <p>Explora el fascinante mundo de la clasificación de razas de perros.</p>
  </div>
</section>

<section id="sobre-nosotros" class="about-section">
  <div class="container d-flex">
    <div class="about-content">
      <h2>Sitio web sobre los perros y su clasificacion</h2>
      <p>THE PERROS es tu guía definitiva para entender las distintas razas de perros. Nuestra misión es proporcionar información detallada, imágenes encantadoras y datos interesantes sobre cada raza canina.</p>
      <img class="imgs" src="https://cdn.pixabay.com/photo/2019/03/12/12/47/people-4050698_1280.jpg" alt="THE PERROS Logo" class="logo">
    </div>
    <div class="about-content">
      <h2>Nuestro compromiso contigo</h2>
      <p>THE PERROS es tu guía definitiva para entender las distintas razas de perros. Nuestra misión es proporcionar información detallada, imágenes encantadoras y datos interesantes sobre cada raza canina.</p>
      <img  class="imgs" src="https://cdn.pixabay.com/photo/2017/10/11/19/59/warrior-2842238_1280.jpg" alt="THE PERROS Logo" class="logo">
    </div>
  </div>


</section>

<section class="featured-breeds-section">
  <div class="container">
    <div class="breed-card">
      <h3>Somos amigos de los canes</h3>
      <h3>Labrador Retriever te amamos</h3>
      <p class="btn-learn-more">Conoce más sobre esta amigable y versátil raza explorando nuestra web.</p>
    </div>
  </div>
</section>


