<app-menu></app-menu>
<div class="m-5">
  <h1 class="text-center fw-bold">Tabla de clasificacion de razas</h1>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let raza">{{ raza.nombre }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="altura">
        <mat-header-cell *matHeaderCellDef>Altura</mat-header-cell>
        <mat-cell *matCellDef="let raza">{{ raza.altura }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="peso">
        <mat-header-cell *matHeaderCellDef>Peso</mat-header-cell>
        <mat-cell *matCellDef="let raza">{{ raza.peso }}</mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="origen">
        <mat-header-cell *matHeaderCellDef>Origen</mat-header-cell>
        <mat-cell *matCellDef="let raza">{{ raza.origen }}</mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  
    </mat-table>
  </div>
  

</div>